<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>calender-medecin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">calender-medecin</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home-outline" routerLink="/app-medecin"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="radio">
          <ion-icon name="calendar-outline" routerLink="/calender-medecin"></ion-icon>
          Calendrier
        </ion-tab-button>
        <ion-tab-button tab="search">
          <ion-icon name="settings-outline" routerLink="/parametre-med"></ion-icon>
          Réglage
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>