<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>affiche-Medecin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      {{ medecin.nom }} {{ medecin.prenom }}
    </ion-card-header>
    <ion-card-content>
      <p>Localisation: {{ medecin.localisation }}</p>
      <p>Spécialité: {{ medecin.specialite }}</p>
      <!-- Ajoutez ici d'autres informations sur le médecin -->
    </ion-card-content>
  </ion-card>
  <br><br><br><br><br><br><br>
  <p>bonjour</p>
</ion-content>
