<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>homeAvantCompte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">homeAvantCompte</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>pour beneficier des differents services de notre application veuillez creer un compte c'est completement gratuit !!!</p>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline" routerLink="/home-avant-compte"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="calendar-outline" routerLink="/tabs/tab2"></ion-icon>
        Rendez-vous
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="pin-outline" routerLink="/tabs/tab3"></ion-icon>
        A remplir
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
</ion-footer>
